html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.fl {
  display: inline-block;
}
.btn-link,
.btn-link-large {
  display: inline-block;
  line-height: 1;
  color: #fff;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  margin-right: 10px;
  padding: 7px 9px;
  font-size: 12px;
  border-radius: 4px;
}
.btn-link-large {
  margin: 0;
  padding: 10px 15px;
  font-size: 14px;
}
.add-btn {
  background: #4caf50;
}
.add-btn:hover {
  background: #66bb6a;
}
.add-btn:active {
  background: #43a047;
}
.edit-btn {
  background: #339df7;
}
.edit-btn:hover {
  background: #5bb1fa;
}
.edit-btn:active {
  background: #047ce2;
}
.m-l-50 {
  margin-left: 50px !important;
}
.m-t-30 {
  margin-top: 30px !important;
}
.w-500 {
  width: 500px !important;
}
.h-40 {
  height: 40px !important;
}
.w-200 {
  width: 200px !important;
}
